<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= pageTitle %> </title>
</head>
<body>

    <h1>Users:</h1>
    <% if (users.length > 0) { %>
        
        <% for (let user of users) { %>
            <ul>
                <li><%= user.name %></li>
            </ul>
        <% } %>

    <% } else { %>

        <p>No user registered.</p>
    
    <% } %>
    
    <a href="/">Return</a>
</body>
</html>